.lb-ledrow {
  line-height:0px;
}
.lb-face {
  line-height:0px;
  width:auto;
}
.lb-led {
  display:inline-block;
}

.lb-led-editrow {

}
.lb-led-edit {
  display:inline-block;
  border:1px solid gray;
  border-radius: 5px;
  height:25px;
  width:25px;
  margin-right:5px;
}

.selectface {
  float:left;
}

.selectfacecontainer {
  float:left;
  padding:7px 15px 8px 15px;
  margin-bottom: 5px;
  margin-right: 0px;
  background-color: #eee;
}

.facesglyphicon {
  margin:12px 0px 11px 0px;
}

.faceid {
  font-size:24px;
  margin-left:-5px;
  color:gray;
}
